<div class="mx-auto align-items-center forgotPassword-section">
    <form class="reset-pwd-form" onSubmit="">
        <app-landingscreen hidecircle="true"></app-landingscreen>
        <hr />
        <div [formGroup]="forgotPasswordForm" class="pl-4 pr-4 pt-4 form-section">
            <div class="form-group">
                <label htmlFor="password" class="col-form-label">Enter New Password</label>
                <div>
                    <input formControlName="password" placeholder="•••••••••" [type]="hide ? 'password' : 'text'"
                        class="form-control" id="password" />
                    <span class="eye-icon" *ngIf="hide"><i class="fa fa-eye-slash" (click)="toggleEyeIcon()"></i></span>
                    <span class="eye-icon" *ngIf="!hide"><i class="fa fa-eye" (click)="toggleEyeIcon()"></i></span>
                </div>
                <div class="warning-msg"
                    *ngIf="forgotPasswordForm.get('password').invalid && (forgotPasswordForm.get('password').dirty || forgotPasswordForm.get('password').touched || nextClicked)">
                    <div *ngIf="forgotPasswordForm.get('password').errors.required">
                        This field is required.
                    </div>
                </div>
                <div class="pass-desc">
                    <p>
                        <span>Use 8 or more characters</span>
                        <span
                            *ngIf="forgotPasswordForm.get('password').touched || forgotPasswordForm.get('password').dirty">
                            <span class="text-danger"
                                *ngIf="forgotPasswordForm.get('password').errors?.required || forgotPasswordForm.get('password').errors?.minlength"><i
                                    class="fa fa-exclamation-circle"></i></span>
                            <span class="text-success"
                                *ngIf="!forgotPasswordForm.get('password').errors?.required && !forgotPasswordForm.get('password').errors?.minlength"><i
                                    class="fa fa-check"></i></span>
                        </span>
                    </p>
                    <p>
                        <span>Should contain at least one number and one symbol</span>
                        <span
                            *ngIf="forgotPasswordForm.get('password').touched || forgotPasswordForm.get('password').dirty">
                            <span class="text-danger"
                                *ngIf="forgotPasswordForm.get('password').errors?.numberSpecial"><i
                                    class="fa fa-exclamation-circle"></i></span>
                            <span class="text-success"
                                *ngIf="!forgotPasswordForm.get('password').errors?.numberSpecial"><i
                                    class="fa fa-check"></i></span>
                        </span>
                    </p>
                    <p>
                        <span>The first character should be in Upper Case</span>
                        <span
                            *ngIf="forgotPasswordForm.get('password').touched || forgotPasswordForm.get('password').dirty">
                            <span class="text-danger"
                                *ngIf="forgotPasswordForm.get('password').errors?.caps"><i
                                    class="fa fa-exclamation-circle"></i></span>
                            <span class="text-success"
                                *ngIf="!forgotPasswordForm.get('password').errors?.caps"><i
                                    class="fa fa-check"></i></span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label htmlFor="password" class="col-form-label">Confirm Password</label>
                <div>
                    <input formControlName="confirmPassword" placeholder="•••••••••" [type]="hide ? 'password' : 'text'"
                        class="form-control" id="confirmPassword" />
                    <span class="eye-icon" *ngIf="hide"><i class="fa fa-eye-slash" (click)="toggleEyeIcon()"></i></span>
                    <span class="eye-icon" *ngIf="!hide"><i class="fa fa-eye" (click)="toggleEyeIcon()"></i></span>
                </div>
                <div class="warning-msg"
                    *ngIf="forgotPasswordForm.get('confirmPassword').invalid && (forgotPasswordForm.get('confirmPassword').dirty || forgotPasswordForm.get('confirmPassword').touched || nextClicked)">
                    <div *ngIf="forgotPasswordForm.get('confirmPassword').errors.required">
                        This field is required.
                    </div>
                </div>
                <div class="warning-msg"
                    *ngIf="!forgotPasswordForm.get('confirmPassword').errors?.required && forgotPasswordForm.errors?.notSame">
                    Should match with password.
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="button" class="btn reset-btn col-sm-12" [disabled]="!forgotPasswordForm.valid"
                        (click)="resetPassword()">Reset Password</button>
                </div>
            </div>
        </div>
    </form>
</div>