.forgotPassword-section {
    max-width: 448px;
    h5 {
        font-weight: 600;
        color: #000;
    }
    .font-12 {
    font-size: 12px;
    }
    .align-center {
        text-align: center;
    }
    .eye-icon {
        float: right;
        margin-right: 6px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
    }
    .title {
    padding: 1em;
    background: #3f4257;
    border-radius: 5px 5px 0 0;
    color:white;
    font-weight: bold;
    }
    .reset-btn {
    font-size: 15px;
    background-color: #686666;
    color: #fff;
    font-weight: bold;
    &:hover {
        color: #fff;
    }
    padding: 0.7rem .75rem;
    }
    .btn-register {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    hr {
        margin-left: 20px;
        margin-right: 20px;
        background-color: #686666;
        height: 1px;
    }
    .forgot-section, .reg-section {
        text-align: center;
        margin-top: 20px;
    }
    .reg-section {
        font-weight: bold;
    }
    .pass-desc {
        margin-top: 10px;
        font-weight: bold;
        font-size: 15px;
        p {
          margin-bottom: 5px;
          color: #adadad;
        }
        .text-success, .text-danger {
          margin-left: 5px
        }
    }
    .reset-pwd-form {
        font-size: 1.5em;
        border-radius: 5px;
        label{
          color: #686666;
        }
    }
    .signin-error {
        padding: 10px 0 0;
        font-size: 13px;
        text-align: center;
    }
    .warning-msg {
        color: #dc3545;
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 12px;
    }
}