<div class="header-wrapper">
    <header class="header-container">
        <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark info-color">
                <a class="navbar-brand" href="/">
                    <span class="title">PYF</span>
                </a>
                <button #collapseButton class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div #collapsedContent class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                  <ul class="navbar-nav font15">
                    <li *ngIf="!userLoggedIn" class="nav-item active" [ngClass]="{'active': !registrationActive}" (userLogin)="loginCheck($event)">
                      <a class="nav-link" (click)="navigateLogin()">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li *ngIf="userLoggedIn" class="nav-item active" [ngClass]="{'active': !registrationActive}">
                      <a class="nav-link" (click)="logout()">Logout <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown" [ngClass]="{'active': registrationActive}">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Register
                      </a>
                      <div class="dropdown-menu dropdown-info dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="navigateRegister('teacher')">I am a Teacher</a>
                        <a class="dropdown-item" (click)="navigateRegister('mentor')">I am a Mentor</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </header>
</div>